<%- include('../partial/head.ejs'); %>
<%- include('../partial/head_wa.ejs'); %>
<script>
    function login(){
          usuario={};
          usuario.nombre=document.getElementById("nom").value;
          usuario.contraseña=document.getElementById("con").value;
          axios.post("http://localhost:3000/login", administrador)
          .then((response)=>{
            console.log(response.data.token);
            sessionStorage.setItem("tToken1", response.data.token);
              alert("Bienvenido");
              console.log(response);
              window.location.href="agrega_producto.ejs";
             })
          .catch((error)=>{
            console.log(err);
          })
        }
</script>
<div class="container pt-4 pb-5">
    <div class="row" >
        <div class="col-2"></div>
        
        <form action="/auth" method="post" class="col-8">
            <div class="input-group mb-3">
                <span class="input-group-text" id="nom">Nombre</span>
                <input type="email" class="form-control" placeholder="Correo Electronico..." aria-label="email" aria-describedby="basic-addon1" name="correo">
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text" id="con">Contraseña</span>
                <input type="password" class="form-control" placeholder="Escribe tu contraseña..." aria-label="contra" aria-describedby="basic-addon1" name="pass">
            </div>
            <div class="input-group mb-3 justify-content-center " >
                <div class="col-6">
                    <button class="btn btn-warning" type="submit">Iniciar sesion</button>
                </div>
                <div class="col-6">
                    <a href="/registrarse">Registrate aquí si no tienes cuenta</a>
                </div>
            </div>
        </form>
        <div class="col-2"></div>
    </div>
</div>

<%- include('../partial/nada.ejs'); %>